In [3]:
import json
import pandas as pd
# C:\\Users\\Jeffr\\Downloads\\DataSystemProjects\\DataSystemProject\\Analyse_multiple_accounts_multiple_listings\\hist_json_files

df1 = pd.read_json('C:\\Users\\Jeffr\\Downloads\\DataSystemProjects\\DataSystemProject\\Analyse_multiple_accounts_multiple_listings\\hist_json_files\\duplicates1.js' ,orient='records')
df2 = pd.read_json('C:\\Users\\Jeffr\\Downloads\\DataSystemProjects\\DataSystemProject\\Analyse_multiple_accounts_multiple_listings\\hist_json_files\\duplicates2.js' ,orient='records')
df3 = pd.read_json('C:\\Users\\Jeffr\\Downloads\\DataSystemProjects\\DataSystemProject\\Analyse_multiple_accounts_multiple_listings\\hist_json_files\\duplicates3.js' ,orient='records')


df1.loc[:,:-output['Result']]  ## Remove the result column , which indicates if their is a dubblicate match

# df1 = df1.drop(['Result'], axis=1)

In [12]:
df1.head()

,case_A_id,case_B_id,duplicate_ID,feature_description,feature_listing_attributes,feature_location,feature_name,feature_price,match_score,status,timestamp,type
0,8509154,8573716,2,1.0,1.0,0.999,1.0,0.999,0.999932,Undifined,2019-01-13,listings
1,12865293,12392592,4,1.0,1.0,0.998,1.0,1.000,0.999905,Undifined,2019-01-13,listings
2,10004961,10147805,6,1.0,1.0,0.994,1.0,0.996,0.999517,Undifined,2019-01-13,listings
3,613088,3155284,8,1.0,1.0,0.990,1.0,1.000,0.999490,Undifined,2019-01-13,listings
4,13324656,13324165,12,1.0,1.0,0.987,1.0,1.000,0.999360,Undifined,2019-01-13,listings

In [5]:
df2.head()

,case_A_id,case_B_id,duplicate_ID,feature_description,feature_listing_attributes,feature_location,feature_name,feature_price,match_score,status,timestamp,type
0,16204076,16203884,2,1.0,1.0,0.999,1.0,1.0,0.999941,Undifined,2019-01-13,listings
1,16202534,16204076,3,1.0,1.0,0.998,1.0,1.0,0.999891,Undifined,2019-01-13,listings
2,13954196,13895577,5,1.0,1.0,0.995,1.0,1.0,0.999757,Undifined,2019-01-13,listings
3,22255501,22255665,7,1.0,1.0,0.993,1.0,1.0,0.999647,Undifined,2019-01-13,listings
4,20321058,20514920,11,1.0,1.0,0.989,1.0,1.0,0.999451,Undifined,2019-01-13,listings

In [6]:
df3.head()

,case_A_id,case_B_id,duplicate_ID,feature_description,feature_listing_attributes,feature_location,feature_name,feature_price,match_score,status,timestamp,type
0,22556265,22556393,2,1.0,1.0,0.998,1.0,1.0,0.999898,Undifined,2019-01-13,listings
1,25177209,30976179,4,1.0,1.0,0.998,1.0,1.0,0.999879,Undifined,2019-01-13,listings
2,23500074,31150995,9,1.0,1.0,0.989,1.0,1.0,0.999458,Undifined,2019-01-13,listings
3,31146480,28688750,11,1.0,1.0,0.989,1.0,1.0,0.999409,Undifined,2019-01-13,listings
4,23061996,23880524,13,1.0,1.0,0.988,1.0,1.0,0.999402,Undifined,2019-01-13,listings

In [14]:
df4 = pd.concat([df1, df2,df3], ignore_index=True)

In [16]:
print(df1.shape)
print(df2.shape)
print(df3.shape)
print(df4.shape)

(154, 12)
(201, 12)
(239, 12)
(594, 12)

,case_A_id,case_B_id,duplicate_ID,feature_description,feature_listing_attributes,feature_location,feature_name,feature_price,match_score,status,timestamp,type
0,16204076,16203884,1,1.0,1.000,0.999,1.0,1.000,0.999941,Undifined,2019-01-13,listings
1,8509154,8573716,2,1.0,1.000,0.999,1.0,0.999,0.999932,Undifined,2019-01-13,listings
2,12865293,12392592,3,1.0,1.000,0.998,1.0,1.000,0.999905,Undifined,2019-01-13,listings
3,22556265,22556393,4,1.0,1.000,0.998,1.0,1.000,0.999898,Undifined,2019-01-13,listings
4,16202534,16204076,5,1.0,1.000,0.998,1.0,1.000,0.999891,Undifined,2019-01-13,listings
5,25177209,30976179,6,1.0,1.000,0.998,1.0,1.000,0.999879,Undifined,2019-01-13,listings
6,13954196,13895577,7,1.0,1.000,0.995,1.0,1.000,0.999757,Undifined,2019-01-13,listings
7,22255501,22255665,8,1.0,1.000,0.993,1.0,1.000,0.999647,Undifined,2019-01-13,listings
8,10004961,10147805,9,1.0,1.000,0.994,1.0,0.996,0.999517,Undifined,2019-01-13,listings
9,613088,3155284,10,1.0,1.000,0.990,1.0,1.000,0.999490,Undifined,2019-01-13,listings
10,23500074,31150995,11,1.0,1.000,0.989,1.0,1.000,0.999458,Undifined,2019-01-13,listings
11,20321058,20514920,12,1.0,1.000,0.989,1.0,1.000,0.999451,Undifined,2019-01-13,listings
12,17470036,17470502,13,1.0,1.000,0.988,1.0,1.000,0.999413,Undifined,2019-01-13,listings
13,31146480,28688750,14,1.0,1.000,0.989,1.0,1.000,0.999409,Undifined,2019-01-13,listings
14,23061996,23880524,15,1.0,1.000,0.988,1.0,1.000,0.999402,Undifined,2019-01-13,listings
15,29097516,29096046,16,1.0,1.000,0.990,1.0,0.997,0.999373,Undifined,2019-01-13,listings
16,13324656,13324165,17,1.0,1.000,0.987,1.0,1.000,0.999360,Undifined,2019-01-13,listings
17,23777372,23626417,18,1.0,1.000,0.987,1.0,1.000,0.999358,Undifined,2019-01-13,listings
18,12582071,12446710,19,1.0,1.000,0.987,1.0,1.000,0.999348,Undifined,2019-01-13,listings
19,30531957,24978557,20,1.0,1.000,0.987,1.0,1.000,0.999334,Undifined,2019-01-13,listings
20,23956368,26943704,21,1.0,1.000,0.988,1.0,0.996,0.999231,Undifined,2019-01-13,listings
21,16341879,16342515,22,1.0,1.000,0.984,1.0,1.000,0.999208,Undifined,2019-01-13,listings
22,23855455,24417774,23,1.0,0.988,0.995,1.0,0.999,0.999101,Undifined,2019-01-13,listings
23,12374650,6382042,24,1.0,1.000,0.982,1.0,1.000,0.999082,Undifined,2019-01-13,listings
24,6285243,12373532,25,1.0,1.000,0.981,1.0,1.000,0.999059,Undifined,2019-01-13,listings
25,311694,284319,26,1.0,1.000,0.981,1.0,1.000,0.999038,Undifined,2019-01-13,listings
26,10003068,9914692,27,1.0,0.991,0.990,1.0,1.000,0.999014,Undifined,2019-01-13,listings
27,23874962,24036014,28,1.0,1.000,0.986,1.0,0.994,0.998975,Undifined,2019-01-13,listings
28,25373341,29196220,29,1.0,1.000,0.977,1.0,1.000,0.998867,Undifined,2019-01-13,listings
29,17856456,20908840,30,1.0,0.987,0.988,1.0,0.996,0.998544,Undifined,2019-01-13,listings

In [22]:
df4 = df4.sort_values(by=['match_score'], ascending=False).reset_index()
df4['duplicate_ID'] = range(1, len(df4) + 1)

In [ ]:
df4= df4.drop(['level_0'], axis=1)
df4= df4.drop(['index'], axis=1)
df4.head(30)

In [28]:
df4.to_json('duplicates.js' ,orient='records')